rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function signedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return signedIn() && request.auth.uid == userId;
    }

    function userRole() {
      return signedIn()
        ? get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role
        : null;
    }

    function isSuperAdmin() {
      return signedIn() && userRole() == "super-admin";
    }

    function isAdmin() {
      return signedIn() &&
      (
        userRole() == "super-admin" ||
        user
